<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065440959729-ih154ch6smlth4uqrdbv17ga4vk9a5bp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065440959729-ih154ch6smlth4uqrdbv17ga4vk9a5bp</string>
	<key>API_KEY</key>
	<string>AIzaSyAjLkKAt7P4jTEhrgbHfd_Kc-eWP0yrK08</string>
	<key>GCM_SENDER_ID</key>
	<string>1065440959729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>th.ac.chula.cbs.stat.DriveU</string>
	<key>PROJECT_ID</key>
	<string>driveu-4a6ba</string>
	<key>STORAGE_BUCKET</key>
	<string>driveu-4a6ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065440959729:ios:2994d11c42f4659895dd50</string>
</dict>
</plist>